body.death {
	background-color: #991010;
}

table {
	border-spacing: 0;
}

td {
	border-left: 1px solid #000;
	border-top: 1px solid #000;
	height: 30px;
	width: 30px;
}

td.body {
	background-color: #2BB22B !important;
}

td.head {
	background-color: #1C841C !important;
}

td.bit {
	background-color: #FFA500;
}

td.food {
	background-color: #8BB22B;
}

td:last-child {
	border-right: 1px solid #000;
}

tr:last-child td {
	border-bottom: 1px solid #000;
}
