body {
	background-color: #5fc248;
	font-family: monospace, sans-serif;
	margin: 0;
	text-align: center;
}

button {
	background-color: #DFDFDF;
	border: 1px solid #CFCFCF;
	border-bottom: 2px solid #AFAFAF;
	padding: 10px 20px;
}

body.death {
	background-color: #a6393d;
}

body.death table {
	background-image: url(img/red-grass-no-border.png) !important;
}

table {
	background-image: url(img/grass-no-border.png);
	border-spacing: 0;
	height: 520px;
	left: 50%;
	margin-left: -330px;
	margin-top: -300px;
	position: absolute;
	top: 50%;
	width: 660px;
}

.instructions {
	bottom: 20px;
	left: 0;
	position: absolute;
	right: 0;
}

td {
	background-size: contain;
	border-left: 1px solid rgba(0, 0, 0, 0.2);
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	height: 20px;
	width: 20px;
}

td.bit {
	background-image: url(img/letter.png);
}

td.food {
	background-image: url(img/bug.png);
}

td.body {
	background-image: url(img/body.png);
}

td.head {
	background-image: url(img/body.png);
}


body.win td.body,
body.win td.head {
	background-image: none;
}

body.win td.body.bit,
body.win td.head.bit {
	background-image: url(img/letter.png);
}

td:last-child {
	border-right: 1px solid rgba(0, 0, 0, 0.2);
}

tr:last-child td {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}